<div ng-controller="emailtemplateCtrl">


    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div ng-if="emailView == 'view'">
                <header class="panel-heading">
                    Email Templates
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                            <a class="fa fa-times" href="javascript:;"></a>
                         </span>
                </header>
                <div class="panel-body">
                    <div class="btn-group">
                        <button class="btn btn-primary" id="editable-sample_new" ng-click ="addEmail()">
                            Add Email Templates
                        </button>
                    </div>
                    <table id="emailList" class="table  table-hover general-table">
                        <thead>
                        <tr>
                            <th> Id</th>
                            <th class="hidden-phone">Subject</th>
                            <th class="hidden-phone">Is Active</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-if="allnews" ng-repeat="item in allnews">
                            <td>
                                {{item.id}}
                            </td>
                            <td >{{item.subject}}</td>
                            <td >{{item.is_active==1?'Active':'Inactive'}}</td>
                            <td ><a class="btn btn-default edit" href="javascript:;" ng-click ="editEmails(item)">Edit</a>
                                <a class="btn btn-default delete" href="javascript:;" ng-click="deleteEmails(item.id)"
                                   >Delete</a></td>

                        </tr>
                        <tr ng-if="!allnews">
                            <td colspan="6">No Result Found</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
                </div>

                <div ng-if="emailView == 'edit'">
                    <header class="panel-heading">
                        Email Templates
                    </header>
                    <div class="panel-body">
                        <form role="form" ng-submit="saveEmails()" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputName">Subject</label>
                                <input type="text" placeholder="Enter Subject"  id="exampleInputName" ng-model="item.subject" class="form-control">
                                <input type="hidden"  ng-model="item.id" >
                            </div>

                            <div class="form-group">
                                <label for="exampleInputName">Body</label>
                                <textarea placeholder="Enter Body"  id="description" ng-model="item.body" ckeditor class="form-control"></textarea>
                            </div>




                            <!--<div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" id="exampleInputFile">
                                <p class="help-block">Example block-level help text here.</p>
                            </div>-->
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="item.is_active" ng-true-value="1" ng-false-value="0"> Is Active
                                </label>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <button class="btn btn-danger" type="button" ng-click="cancelEmails()">Cancel</button>
                        </form>

                    </div>
                </div>
            </section>
        </div>
    </div>

</div>