<!--Web header-->
<div ng-controller="activationCtrl">

        <div class="container">
        <div class="login-section phone-hide">
                <center>
                <div id="button" dx-button="{
                                text: 'Activate',
                                type: 'success', 
                                onClick: activateUser }" ></div> 
                                </center>                                                                  
        </div>
    </div>
    <!--Login area end Web-->
    <div class="login-box tablet-hide">
        
    </div>
</div>


