<!--Web header-->
<div ng-controller="editbidCtrl">

    <div class="container phone-hide">
        <div class="myaccount-details">
            <h1>Bid</h1>
                <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

            <div class="profile-details">
                <div class="form">
                    <div class="dx-fieldset">
                        <div class="dx-field">
                            <div class="dx-field-label">Voucher Name</div>
                            <div class="dx-field-value">
                                {{reselldetail.title}}
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Voucher Image</div>
                            <div class="dx-field-value">
                                <img src="{{reselldetail.image}}" ng-if="reselldetail.image" width="200">
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Voucher Price</div>
                            <div class="dx-field-value">
                                {{reselldetail.voucher_price}}
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Resell Price</div>
                            <div class="dx-field-value">
                                {{reselldetail.price}}
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Operator</div>
                            <div class="dx-field-value">
                                {{reselldetail.operator==1?'AND':'OR'}}
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Point</div>
                            <div class="dx-field-value">
                                {{reselldetail.points}}
                            </div>
                        </div>

                        <div class="dx-field">
                            <div class="dx-field-label">Offering Start Date</div>
                            <div class="dx-field-value">
                                {{reselldetail.offering_start_date}}
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Offering End Date</div>
                            <div class="dx-field-value">
                                {{reselldetail.offering_end_date}}
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Bid Price</div>
                            <div class="dx-field-value">
                                <div dx-text-box="textBox.bid_price"   ng-model="item.bid_price"></div>
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Bid mpoints</div>
                            <div class="dx-field-value">
                                <div dx-text-box="textBox.m_points"   ng-model="item.m_points"></div>
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">&nbsp;</div>
                            <div class="dx-field-value">
                                <div id="button" dx-button="{
                                text: 'Submit',
                                type: 'success',
                                onClick: saveEditBid }" ></div>
                            </div>
                        </div>




                    </div>
                    <!--<div id="summary" dx-validation-summary="{ }"></div>-->

                </div>

            </div>

        </div>
    </div>
    <div class="m-myaccount-details tablet-hide">

        <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>
        <h1>Bid</h1>
        <div class="m-profile-details">
            <div class="form">
                <div class="dx-fieldset">
                    <div class="dx-field">
                        <div class="dx-field-label">Voucher Name</div>
                        <div class="dx-field-value">
                            {{reselldetail.title}}
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Voucher Image</div>
                        <div class="dx-field-value">
                            <img src="{{reselldetail.image}}" ng-if="reselldetail.image" width="200">
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Voucher Price</div>
                        <div class="dx-field-value">
                            {{reselldetail.voucher_price}}
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Resell Price</div>
                        <div class="dx-field-value">
                            {{reselldetail.price}}
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Operator</div>
                        <div class="dx-field-value">
                            {{reselldetail.operator==1?'AND':'OR'}}
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Point</div>
                        <div class="dx-field-value">
                            {{reselldetail.points}}
                        </div>
                    </div>

                    <div class="dx-field">
                        <div class="dx-field-label">Offering Start Date</div>
                        <div class="dx-field-value">
                            {{reselldetail.offering_start_date}}
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Offering End Date</div>
                        <div class="dx-field-value">
                            {{reselldetail.offering_end_date}}
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Bid Price</div>
                        <div class="dx-field-value">
                            <div dx-text-box="textBox.bid_price"   ng-model="item.bid_price"></div>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Bid mpoints</div>
                        <div class="dx-field-value">
                            <div dx-text-box="textBox.m_points"   ng-model="item.m_points"></div>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">&nbsp;</div>
                        <div class="dx-field-value">
                            <div id="button" dx-button="{
                                text: 'Submit',
                                type: 'success',
                                onClick: saveEditBid }" ></div>
                        </div>
                    </div>




                </div>
                <!--<div id="summary" dx-validation-summary="{ }"></div>-->

            </div>
        </div>

    </div>
    <div class="dx-clearfix"></div>
    <!--<div class="container phone-hide">
        <div class="transaction-details">
            <h1>Transaction Details</h1>
            <table>
                <tr>
                    <td width="15%" class="header-color">Transaction Date</td>
                    <td width="14%" class="header-color">Transaction ID</td>
                    <td width="33%" class="header-color">Transaction Description</td>
                    <td width="13%" class="header-color">Debit (mPts)</td>
                    <td width="12%" class="header-color">Credit (mPts)</td>
                    <td width="13%" class="header-color">Total (mPts)</td>
                </tr>
                <tr>
                    <td><div class="select-box"><select>
                        <option>Select</option>
                        <option>Select</option>
                        <option>Select</option>
                    </select></div></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><div class="select-box"><select>
                        <option>Select</option>
                        <option>Select</option>
                        <option>Select</option>
                    </select></div></td>
                </tr>
                <tr>
                    <td>7/1/2015</td>
                    <td>TRN120953549</td>
                    <td>Brought Forward Balance</td>
                    <td>250,000</td>
                    <td>0</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>7/1/2015</td>
                    <td>TRN120953549</td>
                    <td>Brought Forward Balance</td>
                    <td>250,000</td>
                    <td>0</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>7/1/2015</td>
                    <td>TRN120953549</td>
                    <td>Brought Forward Balance</td>
                    <td>250,000</td>
                    <td>0</td>
                    <td>250,000</td>
                </tr>
                <tr>
                    <td>7/1/2015</td>
                    <td>TRN120953549</td>
                    <td>Brought Forward Balance</td>
                    <td>250,000</td>
                    <td>0</td>
                    <td>250,000</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="m-transaction-details tablet-hide">
        <h1>Transaction Details</h1>
        <table>
            <tr>
                <td width="30%" class="m-header-color">Transaction Date</td>
                <td>7/1/2015</td>
            </tr>
            <tr>
                <td width="30%" class="m-header-color">Transaction ID</td>
                <td>TRN120953549</td>
            </tr>
            <tr>
                <td width="30%" class="m-header-color">Transaction Description</td>
                <td>Brought Forward Balance</td>
            </tr>
            <tr>
                <td width="30%" class="m-header-color">Debit (mPts)</td>
                <td>250,000</td>
            </tr>
            <tr>
                <td width="12%" class="m-header-color">Credit (mPts)</td>
                <td>0</td>
            </tr>
            <tr>
                <td width="13%" class="m-header-color">Total (mPts)</td>
                <td>250,000</td>
            </tr>
            </tr>
        </table>

    </div>

    <div class="m-transaction-details tablet-hide">
        <h1>Transaction Details</h1>
        <table>
            <tr>
                <td width="30%" class="m-header-color">Transaction Date</td>
                <td>7/1/2015</td>
            </tr>
            <tr>
                <td width="30%" class="m-header-color">Transaction ID</td>
                <td>TRN120953549</td>
            </tr>
            <tr>
                <td width="30%" class="m-header-color">Transaction Description</td>
                <td>Brought Forward Balance</td>
            </tr>
            <tr>
                <td width="30%" class="m-header-color">Debit (mPts)</td>
                <td>250,000</td>
            </tr>
            <tr>
                <td width="12%" class="m-header-color">Credit (mPts)</td>
                <td>0</td>
            </tr>
            <tr>
                <td width="13%" class="m-header-color">Total (mPts)</td>
                <td>250,000</td>
            </tr>
            </tr>
        </table>

    </div>-->

    <div class="dx-clearfix"></div>
</div>


