<!--Web header-->
<div ng-controller="loginCtrl">
    <div class="container">
        <div class="login-section phone-hide">


            <div class="img-box"><img src="app/assets/Images/login-bg.jpg" width="634" height="467"  alt=""/></div>
            <div class="login-box">
                <h2>Forgot Password</h2>
                <!--<form ng-submit="Login()">
                <ul>
                    <li>
                        <label>Email:</label>
                        <input type="text" ng-model="data.email" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" placeholder="Enter your email">
                    </li>
                    <li>
                        <label>Password:</label>
                        <input type="text" ng-model="data.password" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" placeholder="Enter your password">
                    </li>
                    <li>
                        <p><input type="checkbox"> Remember me
                            <span style="float: right;"><a href="">Forgot your password?</a></span>
                        </p>

                    </li>
                    <li><button type="submit" class="btn btn-success btn-lg btn-block">Login</button></li>
                    <p style="border-bottom: solid 1px #ccc;"></p>
                </ul>
                </form>-->
                <style>
                    /*.dx-overlay-content.dx-resizable {*/
                        /*position: relative;*/
                        /*width: 220px !important;*/
                        /*color: red;*/
                    /*}*/
                </style>
                <div class="form">
                        <div class="dx-fieldset">
                                <div class="dx-field">
                                    <div class="dx-field-label">Email</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="textBox.forgotemail" dx-validator="emailValidationRules" ng-model="forgotemail"></div>
                                    </div>
                                </div>

                        </div>

                        <!--<div id="summary" dx-validation-summary="{ }"></div>-->
                    <ul>
                        <li>
                            <div id="button1" dx-button="{
                                text: 'Submit',
                                type: 'success',

                                onClick: forgotpassword }" ></div>
                            <!--<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="validateAndSubmit()">Login</button>-->
                        </li>

                    </ul>
                </div>


            </div>
        </div>
    </div>
    <!--Login area end Web-->
    <div class="login-box tablet-hide">

        <h2>Forgot Password</h2>
        <!--<ul>
            <li>
                <label>Email:</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" placeholder="Enter your email">
            </li>
            <li>
                <label>Password:</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" placeholder="Enter your password">
            </li>
            <li>
                <p><input type="checkbox"> Remember me                   <span style="float: right;"><a href="">Forgot your password?</a></span></p>

            </li>
            <li><button type="submit" class="btn btn-success btn-lg btn-block">Login</button></li>
            <p style="border-bottom: solid 1px #ccc;"></p>
        </ul>-->
        <div class="form">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Email</div>
                    <div class="dx-field-value">
                        <div dx-text-box="textBox.email" dx-validator="emailValidationRules" ng-model="forgotemail"></div>
                    </div>
                </div>

            </div>

            <!--<div id="summary" dx-validation-summary="{ }"></div>-->
            <ul>

                <li>
            <div id="button" dx-button="{
                                text: 'Login',
                                type: 'success',
                                class:'btn btn-success btn-lg btn-block',
                                height:'40px',
                                width:'90px',

                                onClick: forgotpassword }" ></div>
                </li>

                </ul>
        </div>



    </div>
</div>
<style>
    .dx-popup-title .dx-toolbar-item
    {
        min-width: 60px;;
    }
</style>
