<div ng-controller="paymentreturnCtrl">
    <div class="container phone-hide">
        <div class="item-details" style="text-align:center">
            <p><span><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Loading_bar.gif"></span></p>
        </div>
    </div>
    <div class="tablet-hide">
        <div class="m-item-details" style="text-align:center">
            <p><span><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Loading_bar.gif"></span></p>
        </div>
    </div>
</div>


