<!--Web header-->
<div ng-controller="preorderCtrl">

    <div class="container phone-hide">
    <div class="voucher-details">
        <div class="img-box">
        	<div class="pro-item">
                	<div class="logo-box">
                    <img src="app/assets/Images/logo-4.jpg" alt=""/>
                    </div>
                    
              </div>
        </div>
        <div class="desc-box">
        	<div style="border: none;" class="feedback">
            <ul>
            	<li>
                	<div class="label">Merchant Name:</div>
                    <div class="filds"><span>Duck King</span></div>
                    
                </li>
                <li>
                	<div class="label">Outlet:</div>
                    <div class="filds">Bay Walk Mall</div>
                    
                </li>
                <li>
                	<div class="label">Pre Order ID:</div>
                    <div class="filds">PRE2039</div>
                </li>
                <li>
                	<div class="label">Date:</div>
                    <div class="filds">2016 Feb 2</div>
                </li>
                <li>
                	<div class="label">Time:</div>
                    <div class="filds">12:30:00</div>
                </li>
                <li>
                	<div class="label">No. of Pax:</div>
                    <div class="filds">4</div>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="container"><div style="border-bottom: solid 1px #ccc; padding: 20px 0;" class="dx-clearfix"></div></div>
    <div class="container phone-hide">
    	<div class="menu-f">
        <h1>Menu</h1>
        		<ul>
                	<li style="margin-top:30px;"><img src="app/assets/Images/big-arro-left.png" width="33" height="60"  alt=""/></li>
                    <li>
                    	<div class="item">
                        	<div class="image-box"><img src="app/assets/Images/pix1.png" width="115" height="89"  alt=""/></div>
                            <h2>Appetizer</h2>
                        </div>
                    </li>
                    <li>
                    	<div class="item">
                        	<div class="image-box"><img src="app/assets/Images/pix1.png" width="115" height="89"  alt=""/></div>
                            <h2>Appetizer</h2>
                        </div>
                    </li>
                    <li>
                    	<div class="item">
                        	<div class="image-box"><img src="app/assets/Images/pix1.png" width="115" height="89"  alt=""/></div>
                            <h2>Appetizer</h2>
                        </div>
                    </li>
                    <li>
                    	<div class="item">
                        	<div class="image-box"><img src="app/assets/Images/pix1.png" width="115" height="89"  alt=""/></div>
                            <h2>Appetizer</h2>
                        </div>
                    </li>
                    <li>
                    	<div class="item">
                        	<div class="image-box"><img src="app/assets/Images/pix1.png" width="115" height="89"  alt=""/></div>
                            <h2>Appetizer</h2>
                        </div>
                    </li>
                    <li>
                    	<div class="item">
                        	<div class="image-box"><img src="app/assets/Images/pix1.png" width="115" height="89"  alt=""/></div>
                            <h2>Appetizer</h2>
                        </div>
                    </li>
                    
                    <li style="margin-top:30px;"><img src="app/assets/Images/big-arro-right.png" width="33" height="60"  alt=""/></li>
                    
                </ul>
        </div>
    </div>
    
    <div class="container phone-hide">
    	<div class="item-order">
        <h1>Item Ordered</h1>
        <table>
        	<tr>
             <td width="5%" class="header-color">Qty</td>
             <td width="76%" class="header-color">item</td>
             <td width="19%" class="header-color">Price</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
               <td>1/2 Porsi Bebek Panggang</td>
               <td><strong>168.00</strong></td>
             </tr>
             <tr>
              <td><strong>2</strong></td>
               <td>1/2 Porsi Bebek Panggang</td>
               <td><strong>168.00</strong></td>
             </tr>
             <tr>
              <td><strong>3</strong></td>
               <td>1/2 Porsi Bebek Panggang</td>
               <td><strong>168.00</strong></td>
             </tr>
             <tr>
              <td><strong>4</strong></td>
               <td>1/2 Porsi Bebek Panggang</td>
               <td><strong>168.00</strong></td>
             </tr>
             <tr>
              <td><strong>5</strong></td>
               <td>1/2 Porsi Bebek Panggang</td>
               <td><strong>168.00</strong></td>
             </tr>
             <tr>
              <td><strong>6</strong></td>
               <td>1/2 Porsi Bebek Panggang</td>
               <td><strong>168.00</strong></td>
             </tr>
             <tr>
              <td><strong>7</strong></td>
               <td>1/2 Porsi Bebek Panggang</td>
               <td><strong>168.00</strong></td>
             </tr>
        </table>
        </div>
    </div>
    
  	<div class="m-voucher-details tablet-hide">
       <div class="img-box">
        	<div class="pro-item">
                	<div class="logo-box">
                    <img src="app/assets/Images/logo-4.jpg" alt=""/>
                    </div>
                    
              </div>
        </div>
        <div class="desc-box">
        	<div style="border: none;" class="m-feedback">
            <ul>
            	<li>
                	<div class="label">Merchant Name:</div>
                    <div class="filds"><span>Duck King</span></div>
                    
                </li>
                <li>
                	<div class="label">Outlet:</div>
                    <div class="filds">Bay Walk Mall</div>
                    
                </li>
                <li>
                	<div class="label">Your Number:</div>
                    <div class="filds">45</div>
                </li>
            </ul>
            </div>
        </div>
    </div>
    
    <div class="m-item-order tablet-hide">
        <h1>Item Ordered</h1>
    		<table>
                  <tr>
                        <td width="30%" class="m-header-color">Qty:</td>
                        <td>1</td>
                    </tr>
                     <tr>
                        <td width="30%" class="m-header-color">item:</td>
                        <td>1/2 Porsi Bebek Panggang </td>
                    </tr>
                     <tr>
                        <td width="30%" class="m-header-color">item:</td>
                        <td>168</td>
                    </tr>
              </table>
              <table>
                  <tr>
                        <td width="30%" class="m-header-color">Qty:</td>
                        <td>2</td>
                    </tr>
                     <tr>
                        <td width="30%" class="m-header-color">item:</td>
                        <td>1/2 Porsi Bebek Panggang </td>
                    </tr>
                     <tr>
                        <td width="30%" class="m-header-color">item:</td>
                        <td>168</td>
                    </tr>
              </table>
              <table>
                  <tr>
                        <td width="30%" class="m-header-color">Qty:</td>
                        <td>3</td>
                    </tr>
                     <tr>
                        <td width="30%" class="m-header-color">item:</td>
                        <td>1/2 Porsi Bebek Panggang </td>
                    </tr>
                     <tr>
                        <td width="30%" class="m-header-color">item:</td>
                        <td>168</td>
                    </tr>
              </table>
              <table>
                  <tr>
                        <td width="30%" class="m-header-color">Qty:</td>
                        <td>4</td>
                    </tr>
                     <tr>
                        <td width="30%" class="m-header-color">item:</td>
                        <td>1/2 Porsi Bebek Panggang </td>
                    </tr>
                     <tr>
                        <td width="30%" class="m-header-color">item:</td>
                        <td>168</td>
                    </tr>
              </table>
    </div>

    <div class="dx-clearfix"></div>
    
</div>


