<!--Web header-->
<div ng-controller="merchantmembershipCtrl">

    <div class="container phone-hide">
        <div class="merchant-nav">
            <ul>
                <li>
                    <p><a href="#">Coffe</a></p>
                    <p>Beans Brewing</p>
                </li>
                <li>
                    <p><a href="#">Menu</a></p>
                    <p>Drinks Food</p>
                </li>
                <li>
                    <p><a href="#">Coffeehouse</a></p>
                    <p>Events Community</p>
                </li>
                <li>
                    <p><a href="#">Responsibility</a></p>
                    <p>Local Ethical</p>
                </li>
                <li>
                    <p><a href="#">Card</a></p>
                    <p>Sign Up & Manage</p>
                </li>
                <li>
                    <p><a href="#">About Us</a></p>
                    <p>Company Careers</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-merchant-nav tablet-hide">
        <ul>
            <li>
                <p><a href="#">Coffe</a></p>
                <p>Beans Brewing</p>
            </li>
            <li>
                <p><a href="#">Menu</a></p>
                <p>Drinks Food</p>
            </li>
            <li>
                <p><a href="#">Coffeehouse</a></p>
                <p>Events Community</p>
            </li>
            <li>
                <p><a href="#">Responsibility</a></p>
                <p>Local Ethical</p>
            </li>
            <li>
                <p><a href="#">Card</a></p>
                <p>Sign Up & Manage</p>
            </li>
            <li>
                <p><a href="#">About Us</a></p>
                <p>Company Careers</p>
            </li>
        </ul>
    </div>
    <div class="dx-clearfix"></div>
    <div class="container phone-hide">
        <div class="merchant-card">
            <div class="card-img">
                <img src="app/assets/Images/card.png" alt=""/> </div>
            <div class="card-dsc">
                <h1>mFoodGate Card</h1>
                <h2>Give all the benefits of a mFoodGate card</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Click Here</p>
            </div>
        </div>
    </div>
    <div class="m-merchant-card tablet-hide">
        <div class="card-img">
            <img src="app/assets/Images/card.png" alt=""/> </div>
        <div class="card-dsc">
            <h1>mFoodGate Card</h1>
            <h2>Give all the benefits of a mFoodGate card</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Click Here</p>
        </div>
    </div>
    <div class="dx-clearfix"></div>
    <div class="container phone-hide">
        <div class="three-box">
            <ul>
                <li>
                    <div class="card-item">
                        <h1>Register Your Card</h1>
                        <div class="card-box"><img src="app/assets/Images/card-2.png" alt=""/></div>
                        <p>Lorem ipsum dolor siconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </li>
                <li>
                    <div class="card-item">
                        <h1>Sign In</h1>
                        <div class="card-box"><img src="app/assets/Images/card-3.png" alt=""/></div>
                        <p>Lorem ipsum dolor siconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </li>
                <li>
                    <div class="card-item">
                        <h1>Corporate Gift</h1>
                        <div class="card-box">

                            <div class="card-img"><img src="app/assets/Images/card-4.png" alt=""/></div>
                            <p>Lorem ipsum dolor siconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </li>
            </ul
                    ></div>
    </div>
    <div class="m-three-box tablet-hide">
        <ul>
            <li>
                <div class="card-item">
                    <h1>Register Your Card</h1>
                    <div class="card-box"><img src="app/assets/Images/card-2.png" alt=""/></div>
                    <p>Lorem ipsum dolor siconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li>
                <div class="card-item">
                    <h1>Sign In</h1>
                    <div class="card-box"><img src="app/assets/Images/card-3.png" alt=""/></div>
                    <p>Lorem ipsum dolor siconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li>
                <div class="card-item">
                    <h1>Corporate Gift</h1>
                    <div class="card-box"><img src="app/assets/Images/card-4.png" alt=""/></div>
                    <p>Lorem ipsum dolor siconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
        </ul
                ></div>


</div>


