<link rel="stylesheet" type="text/css" href="app/assets/css/reset.css" />
<link rel="stylesheet" href="app/assets/css/dx.common.css" />
<link rel="stylesheet" href="app/assets/css/dx.light.css" />
<link rel="stylesheet" href="app/assets/css/index.css" />
<link rel="stylesheet" href="app/assets/css/menu.css" />
<link rel="stylesheet" type="text/css" href="app/assets/css/phone.css" media="screen and (max-width: 739px)"/>
<link rel="stylesheet" type="text/css" href="bower_components/ngToast/ngToast.min.css" />


<link rel="stylesheet" type="text/css" href="app/assets/css/site.css" media="screen and (min-width: 740px)" />
    <div id="page">

        <div class="dx-clearfix" data-ng-include=" 'app/views/partials/maincontent.html' " ></div>

     </div>
    <div class="m-app-menu tablet-hide">
        <ul>
            <li class="active">
                <a href=""><img src="app/assets/Images/MobileIcons/home.png" alt="" />
                    <p>Home</p></a>
            </li>
            <li><a href=""><img src="app/assets/Images/MobileIcons/vouture.png" alt="" />
                <p>Voucher</p></a>
            </li>
            <li><a href=""><img src="app/assets/Images/MobileIcons/membership.png" alt="" />
                <p>Membership</p></a>
            </li>
            <li>
                <a href=""><img src="app/assets/Images/MobileIcons/market_place.png" alt="" />
                    <p>Marketplace</p></a>
            </li>
        </ul>
    </div>

    <ul class="tablet-hide" id="menu">
        <li><a title="Home" href="#">Home</a></li>
        <li><a title="About Me" href="#">About Me</a></li>
        <li><a title="Contact Me" href="#">Contact Me</a></li>
    </ul>




